// --- Variables --- //

// --- Global Styles --- //
body {
  font-family: "Montserrat", sans-serif;
  background: #fff;
  margin: 0;
  color: #717f92;
  font-weight: 300;
}

.container {
  width: 85%;
  max-width: 1240px;
  margin: auto;
}

a {
  text-decoration: none;
}

// --- Animations --- //

// --- Global Componets --- //
  //Header

  //Content

  //Footer
